ul{
    list-style-type: none; 
}

ul li:nth-child(even)
{
    background-color:whitesmoke;   
}

ul li:nth-child(odd)
{
    background-color:lightblue;   
}

li
{
    border-bottom: 1px solid black;
    padding: 5px;
    
}

li:last-child
{
    border-bottom: none;
}

